body{
    background-image: url(white-capsules-on-yellow-background-3683056.jpg);
    background-size: cover;
}
div{
    background-color: cornsilk;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    margin: 15px;
    border: 100px, solid,black;
    border-radius: 100px;
    opacity: 1;
}